body {
	background: url("Users/Monkey/Desktop/cdkeogh.github.io/unit_3/images/Website-Design-Background.png");
	background-size: contain;
	background-repeat: no-repeat;
	color: #000;
	font-family: Calibri;
	text-align: left;
}

#slogan {
	text-align: center;
	color: #000;
	font-size: 250%;
	font-style: italic;
}