body {
	background: url("<cdkeogh.github.io/unit_3/images/Website-Design-Background.png");
	background-size: cover;
	color: #000;
	font-family: Calibri;
}

#slogan {
	text-align: center;
	color: #000;
}